name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Docker Login
      run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
    
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag frik0/test:1.0   
    
    - name: Push
      run: docker push frik0/test:1.0
      
    - name: Run Trivy vulnerability scanner
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: frik0/test:1.0
        format: 'sarif'
        severity: HIGH,CRITICAL
        output: 'trivy-results.sarif'
        #exit-code: 1

    - name: Upload Trivy scan results to GitHub Security tab
      uses: github/codeql-action/upload-sarif@v1
      with:
        sarif_file: 'trivy-results.sarif'

    - name: Sync alerts to Jira issues
      uses: github/ghas-jira-integration@v1
      with:
          jira_url: 'https://frik01.atlassian.net'
          jira_user: '${{ secrets.JIRA_USER }}'
          jira_token: '${{ secrets.JIRA_TOKEN }}'
          jira_project: 'PRUEB'
          jira_issue_type: 'bug'
          sync_direction: 'gh2jira'
          
    - name: Exit if vuln were found
      run: exit 1 #cat trivy-results.sarif  | grep CVE > test.txt && exit 1 || exit 0 

